<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Burgers🍔</title>
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    {{!-- css link --}}
    <link rel="stylesheet" href="/assets/css/burger_style.css">
    {{!-- google font --}}
    <link href="https://fonts.googleapis.com/css?family=Ceviche+One|Poiret+One|Prompt" rel="stylesheet">

    <script src="/Homework/Burger/models/burger.js"></script>

</head>

<body>
    {{{ body }}}




    {{!-- <div class="footr mx-auto">
        <footer class=" center footer">
            <div class="container">
                <p> copyright © Burger "The Flip_Shack" App 2018</p>
            </div>
        </footer>
    </div> --}}
</body>



</html>